#projects {
  min-height: 100vh;
  color: #504099;
  font-family: "Montserrat", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
.title {
  margin-bottom: 50px;
  margin-top: 20px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.caratula {
  object-fit: cover;
}

.centrar{
  object-position: -400px;
}

.centrar0{
  object-position: -310px;
}

.card__collection {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: calc(50% - 300px);
  margin-right: calc(50% - 300px);
}
.card__collection .cards {
  width: 600px;
  height: 400px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 1px #000;
  position: relative;
  background-position: center;
  /* margin: 10px; */
  overflow: hidden;
}
.card__collection .cards--two {
  position: relative;
  backface-visibility: hidden;
  margin-bottom: 50px;
}
.card__collection .cards--two p {
  position: absolute;
  top: 5px;
  left: -100%;
  text-transform: capitalize;
  color: #504099;
  font-size: 20px;
  z-index: 8;
  transition: all 1s ease;
  font-size: 30px;
}
.card__collection .cards--two:hover p {
  left: 8%;
}
.card__collection .cards--two:hover img {
  transform: translateY(-15px);
  filter: brightness(0.15) sepia(1) hue-rotate(-33deg);
}
.card__collection .cards--two:hover .cards--two__rect {
  top: 60%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(15px);
}
.card__collection .cards--two:hover li {
  transform: translateY(0);
}
.card__collection .cards--two img {
  transition: all 0.2s ease;
  filter: sepia(1) hue-rotate(-33deg);
}
.card__collection .cards--two__rect {
  width: 1100px;
  height: 200px;
  background: #fff;
  display: block;
  position: absolute;
  top: 175%;
  left: -78%;
  transform: rotate(30deg);
  z-index: 5;
  opacity: 0.9;
  transition: all 1s ease-in-out;
}
.card__collection .cards--two__rect:before {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background: #504099;
  transform: translateY(200px);
  z-index: 2;
  transition: all 1s ease-in-out;
  transition-delay: 0.1s;
}
.card__collection .cards--two ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 9;
}
.card__collection .cards--two ul li {
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  color: #fff;
  transition: all 1s ease-in-out;
  transform: translateY(100px);
}
.card__collection .cards--two ul li:nth-child(1) {
  transition-delay: 0.2s;
}
.card__collection .cards--two ul li:nth-child(2) {
  transition-delay: 0.1s;
  margin-left: 20px;
}
.cards ul {
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.card__collection {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1250px) {
  .card__collection{
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (max-width: 900px) {
  #projects {
    margin-left: 0;
    margin-right: 0;
  }
  .card__collection .cards--two p {
    left: 8%;
  }
  .card__collection .cards--two img {
    transform: translateY(-15px);
    filter: brightness(0.25);
  }
  .card__collection .cards--two .cards--two__rect {
    top: 60%;
  }
  .card__collection .cards--two .cards--two__rect:before {
    transform: translateY(15px);
  }
  .card__collection .cards--two ul li {
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 630px) {
  #projects {
    height: 100%;
  }
  .card__collection{
    margin-left: 0;
    margin-right: 0;
  }
  .card__collection .cards{
    width: 400px;
    height: 270px;
    margin-top: 30px;
  }
  .card__collection .cards--two__rect {
    width: 800px; 
}
}
@media only screen and (max-width: 470px) {
 .card__collection .cards{
    width: 270px;
    height: 180px;
    margin-top: 30px;
  }
  .card__collection .cards--two p{
    font-size: 18px;
    margin-left: 40px;
  }
  .card__collection .cards--two__rect {
      width: 660px; 
  }
  .cards__list svg{
    width: 35px;
  }
}