.sidebar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  left: 10px;
  z-index: 100;
}
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation: fade-in 1.3s ease-out both;
  animation: fade-in 1.3s ease-out both;
  z-index: 100;
}
.p1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  background-color: #b19fff;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 1px #000;
  align-items: center;
  transition: width 0.5s ease-in-out 0s;
  overflow: hidden;
}
.p2 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  background-color: #b19fff;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 1px #000;
  align-items: center;
  transition: width 0.5s ease-in-out 0s;
  overflow: hidden;
}
.p3 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  background-color: #b19fff;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 1px #000;
  align-items: center;
  transition: width 0.5s ease-in-out 0s;
  overflow: hidden;
}
.p4 {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  background-color: #b19fff;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 1px #000;
  align-items: center;
  transition: width 0.5s ease-in-out 0s;
  overflow: hidden;
}
.p5 {
  grid-area: 5 / 1 / 6 / 2;
  display: flex;
  background-color:  #b19fff;
  width: 20px;
  height: 20px;
  padding: 20px;
  align-items: center;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 1px #000;
  transition: width 0.5s ease-in-out 0s;
  overflow: hidden;
}
.ki {
  color: black;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 50px;
  transform: translate(-42px);
}
.p1 .ki div {
  transform: translate(-20px, -20px);
  background-color: #afcfdd;
  background-color: transparent;
  color: transparent;
  font-size: 1px;
  width: 20px;
  height: 20px;
  padding: 20px;
  padding-left: 50px;
  align-items: center;
  border-radius: 50px;
  transition: width 0.5s ease-in-out 0s;
  transition-delay: -0.5s;
}
.p2 .ki div {
  transform: translate(-20px, -20px);
  background-color: #afcfdd;
  background-color: transparent;
  color: transparent;
  font-size: 1px;
  width: 20px;
  height: 20px;
  padding: 20px;
  padding-left: 50px;
  align-items: center;
  border-radius: 50px;
  transition: width 0.5s ease-in-out 0s;
  transition-delay: -0.5s;
}
.p3 .ki div {
  transform: translate(-20px, -20px);
  background-color: #afcfdd;
  background-color: transparent;
  color: transparent;
  font-size: 1px;
  width: 20px;
  height: 20px;
  padding: 20px;
  padding-left: 50px;
  align-items: center;
  border-radius: 50px;
  transition: width 0.5s ease-in-out 0s;
  transition-delay: -0.5s;
}
.p4 .ki div {
  transform: translate(-20px, -20px);
  background-color: #afcfdd;
  background-color: transparent;
  color: transparent;
  font-size: 1px;
  width: 20px;
  height: 20px;
  padding: 20px;
  padding-left: 50px;
  align-items: center;
  border-radius: 50px;
  transition: width 0.5s ease-in-out 0s;
  transition-delay: -0.5s;
}
.p5 .ki div {
  transform: translate(-20px, -20px);
  background-color: #afcfdd;
  background-color: transparent;
  color: transparent;
  font-size: 1px;
  width: 20px;
  height: 20px;
  padding: 20px;
  padding-left: 50px;
  align-items: center;
  border-radius: 50px;
  transition: width 0.5s ease-in-out 0s;
  transition-delay: -0.5s;
}
.kitxt {
  color: black;
  margin-left: -3px;
}
.p1:hover {
  width: 150px;
}
.p1 .ki div:hover {
  font-size: 16px;
  width: 150px;
  color: #000;
}
.p2:hover {
  width: 150px;
}
.p2 .ki div:hover {
  font-size: 16px;
  width: 150px;
  color: #000;
}
.p3:hover {
  width: 150px;
}
.p3 .ki div:hover {
  font-size: 16px;
  width: 150px;
  color: #000;
}
.p4:hover {
  width: 150px;
}
.p4 .ki div:hover {
  font-size: 16px;
  width: 150px;
  color: #000;
}
.p5:hover {
  width: 150px;
}
.p5 .ki div:hover {
  font-size: 16px;
  width: 150px;
  color: #000;
}

@media only screen and (max-width: 1024px) {
  .sidebar{
    position: absolute;
    display: fixed;
    top: 10px;
    left: 0;
    right: 0;
    height: max-content;
    z-index: 150px;
  }
  .parent {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    top: 10px;
    left: 0;
    width: 320px;
  }
  .p1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 10px;
    height: 10px;
  }
  .p2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 10px;
    height: 10px;
  }
  .p3 {
    grid-area: 1 / 3 / 2 / 4;
    width: 10px;
    height: 10px;
  }
  .p4 {
    grid-area: 1 / 4 / 2 / 5;
    width: 10px;
    height: 10px;
  }
  .p5 {
    grid-area: 1 / 5 / 2 / 6;
    width: 10px;
    height: 10px;
  }
  .p1:hover {
    width: 10px;
  }
  .p2:hover {
    width: 10px;
  }
  .p3:hover {
    width: 10px;
  }
  .p4:hover {
    width: 10px;
  }
  .p5:hover {
    width: 10px;
  }
  .ki{
    display: none;
  }
  .kitxt {
    margin-left: -7px;
  }
}
@media only screen and (max-width: 320px) {
  .sidebar{
    margin-left: auto;
    margin-right: auto;
  }
  .parent {
    width: max-content;
    grid-column-gap: 3px;
    left: auto;
    right: auto;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
